@import "tailwindcss";

* {
  -webkit-overflow-scrolling: auto;
}

body {
  scroll-behavior: none;
  overscroll-behavior-y: none;
  touch-action: pan-y;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}